<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>由</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://github.com/PTrain666" target="_blank"
    >
      PTrain
    </a>
    <span pr-1>修改自</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
  </p>
</footer>